.Score {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: black 1px solid;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    /* font-style: italic; */
}

.Score:hover {
    cursor: pointer;
}

.Score-name {
    text-transform: capitalize;
}

.Score-assigned {
    background-color: #90a4ae;
    color: white;
    font-weight: 400;
}