@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

.Game {
	margin: 5em auto 5em auto;
	align-items: center;
	font-family: 'Lato', sans-serif;
}

.Game-dice {
	background-color: #4527a0;
	width: 40%;
	min-width: 420px;
	height: auto;
	margin: 0px auto;
	padding-top: 20px;
	padding-bottom: 25px;
}

.Game-dice p {
	font-size: 5rem;
	margin: 0px;
	color: white;
	word-spacing: 5px;
	font-weight: lighter;
}

.Game-dice button {
	padding: 4px 1.5em;
	font-size: 1.5rem;
	border-radius: 10px;
	outline: none;
	border: none;
	color: white;
	background-color: #0091ea;
	font-family: 'Lato', sans-serif;
}

.Game-dice button:hover {
	background-color: #00b0ff;
	cursor: pointer;
}

.Game-lockedButton {
	opacity: 0.5;
}

.Game-score {
	background-color: white;
	width: 40%;
	min-width: 420px;
	height: auto;
	margin: 0px auto;
	padding-top: 20px;
	padding-bottom: 25px;
	font-weight: 300;
}

.Game-score-parts {
	width: 85%;
	margin: 0 auto;
}

.Game-score-parts h1 {
	border-bottom: purple 3px solid;
	width: 100px;
	margin: 30px auto;
}

.Game-total-score h1 {
	text-transform: uppercase;
	width: 80%;
	border-bottom: purple 3px solid;
	margin: 30px auto;
	padding-bottom: 5px;
}

.Game-restart {
	border: none;
	font-family: inherit;
    font-size: 1.3rem;
    font-weight: bolder;
	cursor: pointer;
	width: auto;
	margin: 5px 2px 2px 2px;
	letter-spacing: 1px;
	outline: none;
	background: #d500f9;
	color: #fff;
	box-shadow: 0 6px #aa00ff;
	border-radius: 5px;
    padding: 10px 13px;
    text-transform: capitalize;
}

.Game-restart:hover {
    background-color: #aa00ff ;
}
