.Die {
	margin: 10px 0.25em;
	font-size: 4rem;
	color: white;
	cursor: pointer;
}

.Die-locked {
	opacity: 0.6;
}

.Die-rolling {
	animation: mymove 0.5s ease-in-out;
}

@keyframes mymove {
	100% {
		transform: rotate(90deg);
	}
}
/* @keyframes mymove {
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */
